<p id="notice"><%= notice %></p>

<h1>In Ru Crs</h1>

<table>
  <thead>
    <tr>
      <th>Nombre del solicitante</th>
      <th>Tipo de identificacion</th>
      <th>Numero de identificaion</th>
      <th>Client</th>
      <th>Objeto avaluo</th>
      <th>Fecha avaluo</th>
      <th>Fecha correccion</th>
      <th>Metodologia valuatoria</th>
      <th>Esatdo avaluo</th>
      <th>Estado revision</th>
      <th>Barrio</th>
      <th>Nombre conjunto o edificio</th>
      <th>Sector</th>
      <th>Departamento</th>
      <th>Ciudad</th>
      <th>Codigo ciudad</th>
      <th>Sistemas de coordenadas</th>
      <th>Latitud</th>
      <th>Longitud</th>
      <th>Sistemas de coordenadas otra</th>
      <th>Direccion inmueble</th>
      <th>Justificacion metodologica</th>
      <th>Barrio estrato</th>
      <th>Barrio legalidad</th>
      <th>Barrio topografia</th>
      <th>Barrio transporte</th>
      <th>Barrio acueducto sector</th>
      <th>Barrio acueducto predio</th>
      <th>Barrio alcantarillado sector</th>
      <th>Barrio alcantarillado predio</th>
      <th>Barrio energia electrica sector</th>
      <th>Barrio energia electrica predio</th>
      <th>Barrio gas natural sector</th>
      <th>Barrio gas natural predio</th>
      <th>Barrio telefonia sector</th>
      <th>Barrio telefonia predio</th>
      <th>Barrio vivienda</th>
      <th>Barrio industria</th>
      <th>Barrio comercio</th>
      <th>Barrio otro</th>
      <th>Barrio otro nombre</th>
      <th>Barrio estado</th>
      <th>Barrio pavimentada</th>
      <th>Barrio andenes</th>
      <th>Barrio sardineles</th>
      <th>Barrio parques</th>
      <th>Barrio parqueadero</th>
      <th>Barrio alumbrado</th>
      <th>Barrio zonas verdes</th>
      <th>Barrio arborizacion</th>
      <th>Barrio alamedas</th>
      <th>Barrio ciclo rutas</th>
      <th>Barrio perspectivas de valorizacion</th>
      <th>Inmueble tipo</th>
      <th>Inmueble uso</th>
      <th>Inmueble tipo otro</th>
      <th>Inmueble clase</th>
      <th>Inmueble clase otro</th>
      <th>Inmueble tipo vivienda</th>
      <th>M inmob principal 1</th>
      <th>M inmob principal 2</th>
      <th>M inmob gj 1</th>
      <th>M inmob gj 2</th>
      <th>M inmob gj 3</th>
      <th>M inmob gj 4</th>
      <th>M inmob gj 5</th>
      <th>M inmob dp 1</th>
      <th>M inmobiliaria dp 2</th>
      <th>Chip</th>
      <th>Inmueble ubicacion</th>
      <th>Inmueble num escritura</th>
      <th>Inmueble num notaria</th>
      <th>Inmueble fecha escritura</th>
      <th>Inumueble depto</th>
      <th>Inmueble ciudad</th>
      <th>Construccion numero de pisos</th>
      <th>Construccion numero de sotanos</th>
      <th>Construccion año construccion</th>
      <th>Construccion vetustez</th>
      <th>Construccion estado</th>
      <th>Construccion terminada</th>
      <th>Construccion en obra</th>
      <th>Construccion avance</th>
      <th>Construccion usada sin terminar</th>
      <th>Construccion usada terminada</th>
      <th>Construccion usada remodelado</th>
      <th>Construccion estado de conservacion</th>
      <th>Construccion estructura 1</th>
      <th>Construccion estructura 2</th>
      <th>Construccion estructura otro</th>
      <th>Construccion fachada</th>
      <th>Construccion fallada otra</th>
      <th>Construccion cubierta</th>
      <th>Construccion cubierta otra</th>
      <th>Construccion irregularidad de la planta</th>
      <th>Construccion irregularidad altura</th>
      <th>Construccion daños previos</th>
      <th>Construccion reparados</th>
      <th>Construccion estructura reforzada</th>
      <th>Construccion sala</th>
      <th>Construccion comedor</th>
      <th>Construccion estudio</th>
      <th>Construccion baño social</th>
      <th>Construccion estar hab</th>
      <th>Construccion habitaciones</th>
      <th>Construccion baño privado</th>
      <th>Construccion cocina</th>
      <th>Construccion cuarto serv</th>
      <th>Construccion baño servicio</th>
      <th>Construccion patio interior</th>
      <th>Construccion terraza</th>
      <th>Construccion jardin</th>
      <th>Construccion balcon</th>
      <th>Construccion z verder privada</th>
      <th>Construccion iluminacion</th>
      <th>Construccion ventilacion</th>
      <th>Construccion total garajes</th>
      <th>Construccion cubierto</th>
      <th>Construccion descubierto</th>
      <th>Construccion uso exclusivo</th>
      <th>Construccion privado</th>
      <th>Construccion bahia comunal</th>
      <th>Construccion sencillo</th>
      <th>Construccion double</th>
      <th>Construccion servidumbre</th>
      <th>Construccion deposito</th>
      <th>Construccion local</th>
      <th>Construccion bodega</th>
      <th>Construccion oficina</th>
      <th>Construccion estado pisos</th>
      <th>Construccion estado techos</th>
      <th>Construccion estado muros</th>
      <th>Construccion estado c mader</th>
      <th>Construccion estado c metal</th>
      <th>Construccion estado baños</th>
      <th>Construccion estado cocina</th>
      <th>Construccion calidad pisos</th>
      <th>Construccion calidad techos</th>
      <th>Construccion calidad muros</th>
      <th>Construccion calidad c mader</th>
      <th>Construccion calidad c metal</th>
      <th>Construccion calidad baños</th>
      <th>Construccion calidad cocina</th>
      <th>Construccion sometido a propiedad intelectual</th>
      <th>Conjunto o agrupacion cerrada</th>
      <th>Construccion ubicacion inmueble</th>
      <th>Construccion numero edificios o casas</th>
      <th>Construccion unid por piso</th>
      <th>Construccion total unidades</th>
      <th>Construccion porteria</th>
      <th>Construccion citofono</th>
      <th>Construccion bicicletero</th>
      <th>Construccion pisciona</th>
      <th>Construccion tanque agua</th>
      <th>Construccion club house</th>
      <th>Construccion gj visitante</th>
      <th>Construccion juegos niños</th>
      <th>Construccion cancha mult</th>
      <th>Construccion bomba eyectora</th>
      <th>Construccion cancha squash</th>
      <th>Construccion z verdes</th>
      <th>Construccion gimnasio</th>
      <th>Construccion golfito</th>
      <th>Construccion salon comunal</th>
      <th>Construccion shut basuras</th>
      <th>Construccion eq presion cons</th>
      <th>Construccion planta electrica</th>
      <th>Construccion ascensor</th>
      <th>Construccion numero ascensores</th>
      <th>Construccion otros 1</th>
      <th>Construccion otros 2</th>
      <th>Oferta actualidad edificadora</th>
      <th>Oferta comportamiento de oferta y demanda</th>
      <th>Oferta tiempo esperado comercializacion</th>
      <th>Ambiental salubridad</th>
      <th>Ambiental arborizacion</th>
      <th>Ambiental parques</th>
      <th>Ambiental z verdes</th>
      <th>Ambiental positivo otro</th>
      <th>Ambiental negativo por aire</th>
      <th>Ambiental negativo basura</th>
      <th>Ambiental negativo inseguridad</th>
      <th>Ambiental negativo ruido</th>
      <th>Ambiental negativo aguas servidas</th>
      <th>Ambiental negativo otro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @in_ru_crs.each do |in_ur_ap| %>
      <tr>
        <td><%= in_ur_ap.nombre_del_solicitante %></td>
        <td><%= in_ur_ap.tipo_de_identificacion %></td>
        <td><%= in_ur_ap.numero_de_identificacion %></td>
        <td><%= in_ur_ap.client %></td>
        <td><%= in_ur_ap.objeto_avaluo %></td>
        <td><%= in_ur_ap.fecha_avaluo %></td>
        <td><%= in_ur_ap.fecha_correccion %></td>
        <td><%= in_ur_ap.metodologia_valuatoria %></td>
        <td><%= in_ur_ap.esatdo_avaluo %></td>
        <td><%= in_ur_ap.estado_revision %></td>
        <td><%= in_ur_ap.barrio %></td>
        <td><%= in_ur_ap.nombre_conjunto_o_edificio %></td>
        <td><%= in_ur_ap.sector %></td>
        <td><%= in_ur_ap.departamento %></td>
        <td><%= in_ur_ap.ciudad %></td>
        <td><%= in_ur_ap.codigo_ciudad %></td>
        <td><%= in_ur_ap.sistemas_de_coordenadas %></td>
        <td><%= in_ur_ap.latitud %></td>
        <td><%= in_ur_ap.longitud %></td>
        <td><%= in_ur_ap.sistemas_de_coordenadas_otra %></td>
        <td><%= in_ur_ap.direccion_inmueble %></td>
        <td><%= in_ur_ap.justificacion_metodologica %></td>
        <td><%= in_ur_ap.barrio_estrato %></td>
        <td><%= in_ur_ap.barrio_legalidad %></td>
        <td><%= in_ur_ap.barrio_topografia %></td>
        <td><%= in_ur_ap.barrio_transporte %></td>
        <td><%= in_ur_ap.barrio_acueducto_sector %></td>
        <td><%= in_ur_ap.barrio_acueducto_predio %></td>
        <td><%= in_ur_ap.barrio_alcantarillado_sector %></td>
        <td><%= in_ur_ap.barrio_alcantarillado_predio %></td>
        <td><%= in_ur_ap.barrio_energia_electrica_sector %></td>
        <td><%= in_ur_ap.barrio_energia_electrica_predio %></td>
        <td><%= in_ur_ap.barrio_gas_natural_sector %></td>
        <td><%= in_ur_ap.barrio_gas_natural_predio %></td>
        <td><%= in_ur_ap.barrio_telefonia_sector %></td>
        <td><%= in_ur_ap.barrio_telefonia_predio %></td>
        <td><%= in_ur_ap.barrio_vivienda %></td>
        <td><%= in_ur_ap.barrio_industria %></td>
        <td><%= in_ur_ap.barrio_comercio %></td>
        <td><%= in_ur_ap.barrio_otro %></td>
        <td><%= in_ur_ap.barrio_otro_nombre %></td>
        <td><%= in_ur_ap.barrio_estado %></td>
        <td><%= in_ur_ap.barrio_pavimentada %></td>
        <td><%= in_ur_ap.barrio_andenes %></td>
        <td><%= in_ur_ap.barrio_sardineles %></td>
        <td><%= in_ur_ap.barrio_parques %></td>
        <td><%= in_ur_ap.barrio_parqueadero %></td>
        <td><%= in_ur_ap.barrio_alumbrado %></td>
        <td><%= in_ur_ap.barrio_zonas_verdes %></td>
        <td><%= in_ur_ap.barrio_arborizacion %></td>
        <td><%= in_ur_ap.barrio_alamedas %></td>
        <td><%= in_ur_ap.barrio_ciclo_rutas %></td>
        <td><%= in_ur_ap.barrio_perspectivas_de_valorizacion %></td>
        <td><%= in_ur_ap.inmueble_tipo %></td>
        <td><%= in_ur_ap.inmueble_uso %></td>
        <td><%= in_ur_ap.inmueble_tipo_otro %></td>
        <td><%= in_ur_ap.inmueble_clase %></td>
        <td><%= in_ur_ap.inmueble_clase_otro %></td>
        <td><%= in_ur_ap.inmueble_tipo_vivienda %></td>
        <td><%= in_ur_ap.m_inmob_principal_1 %></td>
        <td><%= in_ur_ap.m_inmob_principal_2 %></td>
        <td><%= in_ur_ap.m_inmob_gj_1 %></td>
        <td><%= in_ur_ap.m_inmob_gj_2 %></td>
        <td><%= in_ur_ap.m_inmob_gj_3 %></td>
        <td><%= in_ur_ap.m_inmob_gj_4 %></td>
        <td><%= in_ur_ap.m_inmob_gj_5 %></td>
        <td><%= in_ur_ap.m_inmob_dp_1 %></td>
        <td><%= in_ur_ap.m_inmobiliaria_dp_2 %></td>
        <td><%= in_ur_ap.chip %></td>
        <td><%= in_ur_ap.inmueble_ubicacion %></td>
        <td><%= in_ur_ap.inmueble_num_escritura %></td>
        <td><%= in_ur_ap.inmueble_num_notaria %></td>
        <td><%= in_ur_ap.inmueble_fecha_escritura %></td>
        <td><%= in_ur_ap.inumueble_depto %></td>
        <td><%= in_ur_ap.inmueble_ciudad %></td>
        <td><%= in_ur_ap.construccion_numero_de_pisos %></td>
        <td><%= in_ur_ap.construccion_numero_de_sotanos %></td>
        <td><%= in_ur_ap.construccion_año_construccion %></td>
        <td><%= in_ur_ap.construccion_vetustez %></td>
        <td><%= in_ur_ap.construccion_estado %></td>
        <td><%= in_ur_ap.construccion_terminada %></td>
        <td><%= in_ur_ap.construccion_en_obra %></td>
        <td><%= in_ur_ap.construccion_avance %></td>
        <td><%= in_ur_ap.construccion_usada_sin_terminar %></td>
        <td><%= in_ur_ap.construccion_usada_terminada %></td>
        <td><%= in_ur_ap.construccion_usada_remodelado %></td>
        <td><%= in_ur_ap.construccion_estado_de_conservacion %></td>
        <td><%= in_ur_ap.construccion_estructura_1 %></td>
        <td><%= in_ur_ap.construccion_estructura_2 %></td>
        <td><%= in_ur_ap.construccion_estructura_otro %></td>
        <td><%= in_ur_ap.construccion_fachada %></td>
        <td><%= in_ur_ap.construccion_fallada_otra %></td>
        <td><%= in_ur_ap.construccion_cubierta %></td>
        <td><%= in_ur_ap.construccion_cubierta_otra %></td>
        <td><%= in_ur_ap.construccion_irregularidad_de_la_planta %></td>
        <td><%= in_ur_ap.construccion_irregularidad_altura %></td>
        <td><%= in_ur_ap.construccion_daños_previos %></td>
        <td><%= in_ur_ap.construccion_reparados %></td>
        <td><%= in_ur_ap.construccion_estructura_reforzada %></td>
        <td><%= in_ur_ap.construccion_sala %></td>
        <td><%= in_ur_ap.construccion_comedor %></td>
        <td><%= in_ur_ap.construccion_estudio %></td>
        <td><%= in_ur_ap.construccion_baño_social %></td>
        <td><%= in_ur_ap.construccion_estar_hab %></td>
        <td><%= in_ur_ap.construccion_habitaciones %></td>
        <td><%= in_ur_ap.construccion_baño_privado %></td>
        <td><%= in_ur_ap.construccion_cocina %></td>
        <td><%= in_ur_ap.construccion_cuarto_serv %></td>
        <td><%= in_ur_ap.construccion_baño_servicio %></td>
        <td><%= in_ur_ap.construccion_patio_interior %></td>
        <td><%= in_ur_ap.construccion_terraza %></td>
        <td><%= in_ur_ap.construccion_jardin %></td>
        <td><%= in_ur_ap.construccion_balcon %></td>
        <td><%= in_ur_ap.construccion_z_verder_privada %></td>
        <td><%= in_ur_ap.construccion_iluminacion %></td>
        <td><%= in_ur_ap.construccion_ventilacion %></td>
        <td><%= in_ur_ap.construccion_total_garajes %></td>
        <td><%= in_ur_ap.construccion_cubierto %></td>
        <td><%= in_ur_ap.construccion_descubierto %></td>
        <td><%= in_ur_ap.construccion_uso_exclusivo %></td>
        <td><%= in_ur_ap.construccion_privado %></td>
        <td><%= in_ur_ap.construccion_bahia_comunal %></td>
        <td><%= in_ur_ap.construccion_sencillo %></td>
        <td><%= in_ur_ap.construccion_bodega %></td>
        <td><%= in_ur_ap.construccion_servidumbre %></td>
        <td><%= in_ur_ap.construccion_deposito %></td>
        <td><%= in_ur_ap.construccion_local %></td>
        <td><%= in_ur_ap.construccion_bodega %></td>
        <td><%= in_ur_ap.construccion_oficina %></td>
        <td><%= in_ur_ap.construccion_estado_pisos %></td>
        <td><%= in_ur_ap.construccion_estado_techos %></td>
        <td><%= in_ur_ap.construccion_estado_muros %></td>
        <td><%= in_ur_ap.construccion_estado_c_mader %></td>
        <td><%= in_ur_ap.construccion_estado_c_metal %></td>
        <td><%= in_ur_ap.construccion_estado_baños %></td>
        <td><%= in_ur_ap.construccion_estado_cocina %></td>
        <td><%= in_ur_ap.construccion_calidad_pisos %></td>
        <td><%= in_ur_ap.construccion_calidad_techos %></td>
        <td><%= in_ur_ap.construccion_calidad_muros %></td>
        <td><%= in_ur_ap.construccion_calidad_c_mader %></td>
        <td><%= in_ur_ap.construccion_calidad_c_metal %></td>
        <td><%= in_ur_ap.construccion_calidad_baños %></td>
        <td><%= in_ur_ap.construccion_calidad_cocina %></td>
        <td><%= in_ur_ap.construccion_sometido_a_propiedad_intelectual %></td>
        <td><%= in_ur_ap.conjunto_o_agrupacion_cerrada %></td>
        <td><%= in_ur_ap.construccion_ubicacion_inmueble %></td>
        <td><%= in_ur_ap.construccion_numero_edificios_o_casas %></td>
        <td><%= in_ur_ap.construccion_unid_por_piso %></td>
        <td><%= in_ur_ap.construccion_total_unidades %></td>
        <td><%= in_ur_ap.construccion_porteria %></td>
        <td><%= in_ur_ap.construccion_citofono %></td>
        <td><%= in_ur_ap.construccion_bicicletero %></td>
        <td><%= in_ur_ap.construccion_pisciona %></td>
        <td><%= in_ur_ap.construccion_tanque_agua %></td>
        <td><%= in_ur_ap.construccion_club_house %></td>
        <td><%= in_ur_ap.construccion_gj_visitante %></td>
        <td><%= in_ur_ap.construccion_juegos_niños %></td>
        <td><%= in_ur_ap.construccion_cancha_mult %></td>
        <td><%= in_ur_ap.construccion_bomba_eyectora %></td>
        <td><%= in_ur_ap.construccion_cancha_squash %></td>
        <td><%= in_ur_ap.construccion_z_verdes %></td>
        <td><%= in_ur_ap.construccion_gimnasio %></td>
        <td><%= in_ur_ap.construccion_golfito %></td>
        <td><%= in_ur_ap.construccion_salon_comunal %></td>
        <td><%= in_ur_ap.construccion_shut_basuras %></td>
        <td><%= in_ur_ap.construccion_eq_presion_cons %></td>
        <td><%= in_ur_ap.construccion_planta_electrica %></td>
        <td><%= in_ur_ap.construccion_ascensor %></td>
        <td><%= in_ur_ap.construccion_numero_ascensores %></td>
        <td><%= in_ur_ap.construccion_otros_1 %></td>
        <td><%= in_ur_ap.construccion_otros_2 %></td>
        <td><%= in_ur_ap.oferta_actualidad_edificadora %></td>
        <td><%= in_ur_ap.oferta_comportamiento_de_oferta_y_demanda %></td>
        <td><%= in_ur_ap.oferta_tiempo_esperado_comercializacion %></td>
        <td><%= in_ur_ap.ambiental_salubridad %></td>
        <td><%= in_ur_ap.ambiental_arborizacion %></td>
        <td><%= in_ur_ap.ambiental_parques %></td>
        <td><%= in_ur_ap.ambiental_z_verdes %></td>
        <td><%= in_ur_ap.ambiental_positivo_otro %></td>
        <td><%= in_ur_ap.ambiental_negativo_por_aire %></td>
        <td><%= in_ur_ap.ambiental_negativo_basura %></td>
        <td><%= in_ur_ap.ambiental_negativo_inseguridad %></td>
        <td><%= in_ur_ap.ambiental_negativo_ruido %></td>
        <td><%= in_ur_ap.ambiental_negativo_aguas_servidas %></td>
        <td><%= in_ur_ap.ambiental_negativo_otro %></td>
        <td><%= link_to 'Show', in_ur_ap %></td>
        <td><%= link_to 'Edit', edit_in_ru_cr_path(in_ur_ap) %></td>
        <td><%= link_to 'Destroy', in_ur_ap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New In Ru Cr', new_in_ru_cr_path %>
