<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre del solicitante:</strong>
  <%= @in_ru_cr.nombre_del_solicitante %>
</p>

<p>
  <strong>Tipo de identificacion:</strong>
  <%= @in_ru_cr.tipo_de_identificacion %>
</p>

<p>
  <strong>Numero de identificaion:</strong>
  <%= @in_ru_cr.numero_de_identificacion %>
</p>

<p>
  <strong>Client:</strong>
  <%= @in_ru_cr.client %>
</p>

<p>
  <strong>Objeto avaluo:</strong>
  <%= @in_ru_cr.objeto_avaluo %>
</p>

<p>
  <strong>Fecha avaluo:</strong>
  <%= @in_ru_cr.fecha_avaluo %>
</p>

<p>
  <strong>Fecha correccion:</strong>
  <%= @in_ru_cr.fecha_correccion %>
</p>

<p>
  <strong>Metodologia valuatoria:</strong>
  <%= @in_ru_cr.metodologia_valuatoria %>
</p>

<p>
  <strong>Esatdo avaluo:</strong>
  <%= @in_ru_cr.esatdo_avaluo %>
</p>

<p>
  <strong>Estado revision:</strong>
  <%= @in_ru_cr.estado_revision %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @in_ru_cr.barrio %>
</p>

<p>
  <strong>Nombre conjunto o edificio:</strong>
  <%= @in_ru_cr.nombre_conjunto_o_edificio %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @in_ru_cr.sector %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @in_ru_cr.departamento %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @in_ru_cr.ciudad %>
</p>

<p>
  <strong>Codigo ciudad:</strong>
  <%= @in_ru_cr.codigo_ciudad %>
</p>

<p>
  <strong>Sistemas de coordenadas:</strong>
  <%= @in_ru_cr.sistemas_de_coordenadas %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @in_ru_cr.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @in_ru_cr.longitud %>
</p>

<p>
  <strong>Sistemas de coordenadas otra:</strong>
  <%= @in_ru_cr.sistemas_de_coordenadas_otra %>
</p>

<p>
  <strong>Direccion inmueble:</strong>
  <%= @in_ru_cr.direccion_inmueble %>
</p>

<p>
  <strong>Justificacion metodologica:</strong>
  <%= @in_ru_cr.justificacion_metodologica %>
</p>

<p>
  <strong>Barrio estrato:</strong>
  <%= @in_ru_cr.barrio_estrato %>
</p>

<p>
  <strong>Barrio legalidad:</strong>
  <%= @in_ru_cr.barrio_legalidad %>
</p>

<p>
  <strong>Barrio topografia:</strong>
  <%= @in_ru_cr.barrio_topografia %>
</p>

<p>
  <strong>Barrio transporte:</strong>
  <%= @in_ru_cr.barrio_transporte %>
</p>

<p>
  <strong>Barrio acueducto sector:</strong>
  <%= @in_ru_cr.barrio_acueducto_sector %>
</p>

<p>
  <strong>Barrio acueducto predio:</strong>
  <%= @in_ru_cr.barrio_acueducto_predio %>
</p>

<p>
  <strong>Barrio alcantarillado sector:</strong>
  <%= @in_ru_cr.barrio_alcantarillado_sector %>
</p>

<p>
  <strong>Barrio alcantarillado predio:</strong>
  <%= @in_ru_cr.barrio_alcantarillado_predio %>
</p>

<p>
  <strong>Barrio energia electrica sector:</strong>
  <%= @in_ru_cr.barrio_energia_electrica_sector %>
</p>

<p>
  <strong>Barrio energia electrica predio:</strong>
  <%= @in_ru_cr.barrio_energia_electrica_predio %>
</p>

<p>
  <strong>Barrio gas natural sector:</strong>
  <%= @in_ru_cr.barrio_gas_natural_sector %>
</p>

<p>
  <strong>Barrio gas natural predio:</strong>
  <%= @in_ru_cr.barrio_gas_natural_predio %>
</p>

<p>
  <strong>Barrio telefonia sector:</strong>
  <%= @in_ru_cr.barrio_telefonia_sector %>
</p>

<p>
  <strong>Barrio telefonia predio:</strong>
  <%= @in_ru_cr.barrio_telefonia_predio %>
</p>

<p>
  <strong>Barrio vivienda:</strong>
  <%= @in_ru_cr.barrio_vivienda %>
</p>

<p>
  <strong>Barrio industria:</strong>
  <%= @in_ru_cr.barrio_industria %>
</p>

<p>
  <strong>Barrio comercio:</strong>
  <%= @in_ru_cr.barrio_comercio %>
</p>

<p>
  <strong>Barrio otro:</strong>
  <%= @in_ru_cr.barrio_otro %>
</p>

<p>
  <strong>Barrio otro nombre:</strong>
  <%= @in_ru_cr.barrio_otro_nombre %>
</p>

<p>
  <strong>Barrio estado:</strong>
  <%= @in_ru_cr.barrio_estado %>
</p>

<p>
  <strong>Barrio pavimentada:</strong>
  <%= @in_ru_cr.barrio_pavimentada %>
</p>

<p>
  <strong>Barrio andenes:</strong>
  <%= @in_ru_cr.barrio_andenes %>
</p>

<p>
  <strong>Barrio sardineles:</strong>
  <%= @in_ru_cr.barrio_sardineles %>
</p>

<p>
  <strong>Barrio parques:</strong>
  <%= @in_ru_cr.barrio_parques %>
</p>

<p>
  <strong>Barrio parqueadero:</strong>
  <%= @in_ru_cr.barrio_parqueadero %>
</p>

<p>
  <strong>Barrio alumbrado:</strong>
  <%= @in_ru_cr.barrio_alumbrado %>
</p>

<p>
  <strong>Barrio zonas verdes:</strong>
  <%= @in_ru_cr.barrio_zonas_verdes %>
</p>

<p>
  <strong>Barrio arborizacion:</strong>
  <%= @in_ru_cr.barrio_arborizacion %>
</p>

<p>
  <strong>Barrio alamedas:</strong>
  <%= @in_ru_cr.barrio_alamedas %>
</p>

<p>
  <strong>Barrio ciclo rutas:</strong>
  <%= @in_ru_cr.barrio_ciclo_rutas %>
</p>

<p>
  <strong>Barrio perspectivas de valorizacion:</strong>
  <%= @in_ru_cr.barrio_perspectivas_de_valorizacion %>
</p>

<p>
  <strong>Inmueble tipo:</strong>
  <%= @in_ru_cr.inmueble_tipo %>
</p>

<p>
  <strong>Inmueble uso:</strong>
  <%= @in_ru_cr.inmueble_uso %>
</p>

<p>
  <strong>Inmueble tipo otro:</strong>
  <%= @in_ru_cr.inmueble_tipo_otro %>
</p>

<p>
  <strong>Inmueble clase:</strong>
  <%= @in_ru_cr.inmueble_clase %>
</p>

<p>
  <strong>Inmueble clase otro:</strong>
  <%= @in_ru_cr.inmueble_clase_otro %>
</p>

<p>
  <strong>Inmueble tipo vivienda:</strong>
  <%= @in_ru_cr.inmueble_tipo_vivienda %>
</p>

<p>
  <strong>M inmob principal 1:</strong>
  <%= @in_ru_cr.m_inmob_principal_1 %>
</p>

<p>
  <strong>M inmob principal 2:</strong>
  <%= @in_ru_cr.m_inmob_principal_2 %>
</p>

<p>
  <strong>M inmob gj 1:</strong>
  <%= @in_ru_cr.m_inmob_gj_1 %>
</p>

<p>
  <strong>M inmob gj 2:</strong>
  <%= @in_ru_cr.m_inmob_gj_2 %>
</p>

<p>
  <strong>M inmob gj 3:</strong>
  <%= @in_ru_cr.m_inmob_gj_3 %>
</p>

<p>
  <strong>M inmob gj 4:</strong>
  <%= @in_ru_cr.m_inmob_gj_4 %>
</p>

<p>
  <strong>M inmob gj 5:</strong>
  <%= @in_ru_cr.m_inmob_gj_5 %>
</p>

<p>
  <strong>M inmob dp 1:</strong>
  <%= @in_ru_cr.m_inmob_dp_1 %>
</p>

<p>
  <strong>M inmobiliaria dp 2:</strong>
  <%= @in_ru_cr.m_inmobiliaria_dp_2 %>
</p>

<p>
  <strong>Chip:</strong>
  <%= @in_ru_cr.chip %>
</p>

<p>
  <strong>Inmueble ubicacion:</strong>
  <%= @in_ru_cr.inmueble_ubicacion %>
</p>

<p>
  <strong>Inmueble num escritura:</strong>
  <%= @in_ru_cr.inmueble_num_escritura %>
</p>

<p>
  <strong>Inmueble num notaria:</strong>
  <%= @in_ru_cr.inmueble_num_notaria %>
</p>

<p>
  <strong>Inmueble fecha escritura:</strong>
  <%= @in_ru_cr.inmueble_fecha_escritura %>
</p>

<p>
  <strong>Inumueble depto:</strong>
  <%= @in_ru_cr.inumueble_depto %>
</p>

<p>
  <strong>Inmueble ciudad:</strong>
  <%= @in_ru_cr.inmueble_ciudad %>
</p>

<p>
  <strong>Construccion numero de pisos:</strong>
  <%= @in_ru_cr.construccion_numero_de_pisos %>
</p>

<p>
  <strong>Construccion numero de sotanos:</strong>
  <%= @in_ru_cr.construccion_numero_de_sotanos %>
</p>

<p>
  <strong>Construccion año construccion:</strong>
  <%= @in_ru_cr.construccion_año_construccion %>
</p>

<p>
  <strong>Construccion vetustez:</strong>
  <%= @in_ru_cr.construccion_vetustez %>
</p>

<p>
  <strong>Construccion estado:</strong>
  <%= @in_ru_cr.construccion_estado %>
</p>

<p>
  <strong>Construccion terminada:</strong>
  <%= @in_ru_cr.construccion_terminada %>
</p>

<p>
  <strong>Construccion en obra:</strong>
  <%= @in_ru_cr.construccion_en_obra %>
</p>

<p>
  <strong>Construccion avance:</strong>
  <%= @in_ru_cr.construccion_avance %>
</p>

<p>
  <strong>Construccion usada sin terminar:</strong>
  <%= @in_ru_cr.construccion_usada_sin_terminar %>
</p>

<p>
  <strong>Construccion usada terminada:</strong>
  <%= @in_ru_cr.construccion_usada_terminada %>
</p>

<p>
  <strong>Construccion usada remodelado:</strong>
  <%= @in_ru_cr.construccion_usada_remodelado %>
</p>

<p>
  <strong>Construccion estado de conservacion:</strong>
  <%= @in_ru_cr.construccion_estado_de_conservacion %>
</p>

<p>
  <strong>Construccion estructura 1:</strong>
  <%= @in_ru_cr.construccion_estructura_1 %>
</p>

<p>
  <strong>Construccion estructura 2:</strong>
  <%= @in_ru_cr.construccion_estructura_2 %>
</p>

<p>
  <strong>Construccion estructura otro:</strong>
  <%= @in_ru_cr.construccion_estructura_otro %>
</p>

<p>
  <strong>Construccion fachada:</strong>
  <%= @in_ru_cr.construccion_fachada %>
</p>

<p>
  <strong>Construccion fallada otra:</strong>
  <%= @in_ru_cr.construccion_fallada_otra %>
</p>

<p>
  <strong>Construccion cubierta:</strong>
  <%= @in_ru_cr.construccion_cubierta %>
</p>

<p>
  <strong>Construccion cubierta otra:</strong>
  <%= @in_ru_cr.construccion_cubierta_otra %>
</p>

<p>
  <strong>Construccion irregularidad de la planta:</strong>
  <%= @in_ru_cr.construccion_irregularidad_de_la_planta %>
</p>

<p>
  <strong>Construccion irregularidad altura:</strong>
  <%= @in_ru_cr.construccion_irregularidad_altura %>
</p>

<p>
  <strong>Construccion daños previos:</strong>
  <%= @in_ru_cr.construccion_daños_previos %>
</p>

<p>
  <strong>Construccion reparados:</strong>
  <%= @in_ru_cr.construccion_reparados %>
</p>

<p>
  <strong>Construccion estructura reforzada:</strong>
  <%= @in_ru_cr.construccion_estructura_reforzada %>
</p>

<p>
  <strong>Construccion sala:</strong>
  <%= @in_ru_cr.construccion_sala %>
</p>

<p>
  <strong>Construccion comedor:</strong>
  <%= @in_ru_cr.construccion_comedor %>
</p>

<p>
  <strong>Construccion estudio:</strong>
  <%= @in_ru_cr.construccion_estudio %>
</p>

<p>
  <strong>Construccion baño social:</strong>
  <%= @in_ru_cr.construccion_baño_social %>
</p>

<p>
  <strong>Construccion estar hab:</strong>
  <%= @in_ru_cr.construccion_estar_hab %>
</p>

<p>
  <strong>Construccion habitaciones:</strong>
  <%= @in_ru_cr.construccion_habitaciones %>
</p>

<p>
  <strong>Construccion baño privado:</strong>
  <%= @in_ru_cr.construccion_baño_privado %>
</p>

<p>
  <strong>Construccion cocina:</strong>
  <%= @in_ru_cr.construccion_cocina %>
</p>

<p>
  <strong>Construccion cuarto serv:</strong>
  <%= @in_ru_cr.construccion_cuarto_serv %>
</p>

<p>
  <strong>Construccion baño servicio:</strong>
  <%= @in_ru_cr.construccion_baño_servicio %>
</p>

<p>
  <strong>Construccion patio interior:</strong>
  <%= @in_ru_cr.construccion_patio_interior %>
</p>

<p>
  <strong>Construccion terraza:</strong>
  <%= @in_ru_cr.construccion_terraza %>
</p>

<p>
  <strong>Construccion jardin:</strong>
  <%= @in_ru_cr.construccion_jardin %>
</p>

<p>
  <strong>Construccion balcon:</strong>
  <%= @in_ru_cr.construccion_balcon %>
</p>

<p>
  <strong>Construccion z verder privada:</strong>
  <%= @in_ru_cr.construccion_z_verder_privada %>
</p>

<p>
  <strong>Construccion iluminacion:</strong>
  <%= @in_ru_cr.construccion_iluminacion %>
</p>

<p>
  <strong>Construccion ventilacion:</strong>
  <%= @in_ru_cr.construccion_ventilacion %>
</p>

<p>
  <strong>Construccion total garajes:</strong>
  <%= @in_ru_cr.construccion_total_garajes %>
</p>

<p>
  <strong>Construccion cubierto:</strong>
  <%= @in_ru_cr.construccion_cubierto %>
</p>

<p>
  <strong>Construccion descubierto:</strong>
  <%= @in_ru_cr.construccion_descubierto %>
</p>

<p>
  <strong>Construccion uso exclusivo:</strong>
  <%= @in_ru_cr.construccion_uso_exclusivo %>
</p>

<p>
  <strong>Construccion privado:</strong>
  <%= @in_ru_cr.construccion_privado %>
</p>

<p>
  <strong>Construccion bahia comunal:</strong>
  <%= @in_ru_cr.construccion_bahia_comunal %>
</p>

<p>
  <strong>Construccion sencillo:</strong>
  <%= @in_ru_cr.construccion_sencillo %>
</p>

<p>
  <strong>Construccion double:</strong>
  <%= @in_ru_cr.construccion_bodega %>
</p>

<p>
  <strong>Construccion servidumbre:</strong>
  <%= @in_ru_cr.construccion_servidumbre %>
</p>

<p>
  <strong>Construccion deposito:</strong>
  <%= @in_ru_cr.construccion_deposito %>
</p>

<p>
  <strong>Construccion local:</strong>
  <%= @in_ru_cr.construccion_local %>
</p>

<p>
  <strong>Construccion bodega:</strong>
  <%= @in_ru_cr.construccion_bodega %>
</p>

<p>
  <strong>Construccion oficina:</strong>
  <%= @in_ru_cr.construccion_oficina %>
</p>

<p>
  <strong>Construccion estado pisos:</strong>
  <%= @in_ru_cr.construccion_estado_pisos %>
</p>

<p>
  <strong>Construccion estado techos:</strong>
  <%= @in_ru_cr.construccion_estado_techos %>
</p>

<p>
  <strong>Construccion estado muros:</strong>
  <%= @in_ru_cr.construccion_estado_muros %>
</p>

<p>
  <strong>Construccion estado c mader:</strong>
  <%= @in_ru_cr.construccion_estado_c_mader %>
</p>

<p>
  <strong>Construccion estado c metal:</strong>
  <%= @in_ru_cr.construccion_estado_c_metal %>
</p>

<p>
  <strong>Construccion estado baños:</strong>
  <%= @in_ru_cr.construccion_estado_baños %>
</p>

<p>
  <strong>Construccion estado cocina:</strong>
  <%= @in_ru_cr.construccion_estado_cocina %>
</p>

<p>
  <strong>Construccion calidad pisos:</strong>
  <%= @in_ru_cr.construccion_calidad_pisos %>
</p>

<p>
  <strong>Construccion calidad techos:</strong>
  <%= @in_ru_cr.construccion_calidad_techos %>
</p>

<p>
  <strong>Construccion calidad muros:</strong>
  <%= @in_ru_cr.construccion_calidad_muros %>
</p>

<p>
  <strong>Construccion calidad c mader:</strong>
  <%= @in_ru_cr.construccion_calidad_c_mader %>
</p>

<p>
  <strong>Construccion calidad c metal:</strong>
  <%= @in_ru_cr.construccion_calidad_c_metal %>
</p>

<p>
  <strong>Construccion calidad baños:</strong>
  <%= @in_ru_cr.construccion_calidad_baños %>
</p>

<p>
  <strong>Construccion calidad cocina:</strong>
  <%= @in_ru_cr.construccion_calidad_cocina %>
</p>

<p>
  <strong>Construccion sometido a propiedad intelectual:</strong>
  <%= @in_ru_cr.construccion_sometido_a_propiedad_intelectual %>
</p>

<p>
  <strong>Conjunto o agrupacion cerrada:</strong>
  <%= @in_ru_cr.conjunto_o_agrupacion_cerrada %>
</p>

<p>
  <strong>Construccion ubicacion inmueble:</strong>
  <%= @in_ru_cr.construccion_ubicacion_inmueble %>
</p>

<p>
  <strong>Construccion numero edificios o casas:</strong>
  <%= @in_ru_cr.construccion_numero_edificios_o_casas %>
</p>

<p>
  <strong>Construccion unid por piso:</strong>
  <%= @in_ru_cr.construccion_unid_por_piso %>
</p>

<p>
  <strong>Construccion total unidades:</strong>
  <%= @in_ru_cr.construccion_total_unidades %>
</p>

<p>
  <strong>Construccion porteria:</strong>
  <%= @in_ru_cr.construccion_porteria %>
</p>

<p>
  <strong>Construccion citofono:</strong>
  <%= @in_ru_cr.construccion_citofono %>
</p>

<p>
  <strong>Construccion bicicletero:</strong>
  <%= @in_ru_cr.construccion_bicicletero %>
</p>

<p>
  <strong>Construccion pisciona:</strong>
  <%= @in_ru_cr.construccion_pisciona %>
</p>

<p>
  <strong>Construccion tanque agua:</strong>
  <%= @in_ru_cr.construccion_tanque_agua %>
</p>

<p>
  <strong>Construccion club house:</strong>
  <%= @in_ru_cr.construccion_club_house %>
</p>

<p>
  <strong>Construccion gj visitante:</strong>
  <%= @in_ru_cr.construccion_gj_visitante %>
</p>

<p>
  <strong>Construccion juegos niños:</strong>
  <%= @in_ru_cr.construccion_juegos_niños %>
</p>

<p>
  <strong>Construccion cancha mult:</strong>
  <%= @in_ru_cr.construccion_cancha_mult %>
</p>

<p>
  <strong>Construccion bomba eyectora:</strong>
  <%= @in_ru_cr.construccion_bomba_eyectora %>
</p>

<p>
  <strong>Construccion cancha squash:</strong>
  <%= @in_ru_cr.construccion_cancha_squash %>
</p>

<p>
  <strong>Construccion z verdes:</strong>
  <%= @in_ru_cr.construccion_z_verdes %>
</p>

<p>
  <strong>Construccion gimnasio:</strong>
  <%= @in_ru_cr.construccion_gimnasio %>
</p>

<p>
  <strong>Construccion golfito:</strong>
  <%= @in_ru_cr.construccion_golfito %>
</p>

<p>
  <strong>Construccion salon comunal:</strong>
  <%= @in_ru_cr.construccion_salon_comunal %>
</p>

<p>
  <strong>Construccion shut basuras:</strong>
  <%= @in_ru_cr.construccion_shut_basuras %>
</p>

<p>
  <strong>Construccion eq presion cons:</strong>
  <%= @in_ru_cr.construccion_eq_presion_cons %>
</p>

<p>
  <strong>Construccion planta electrica:</strong>
  <%= @in_ru_cr.construccion_planta_electrica %>
</p>

<p>
  <strong>Construccion ascensor:</strong>
  <%= @in_ru_cr.construccion_ascensor %>
</p>

<p>
  <strong>Construccion numero ascensores:</strong>
  <%= @in_ru_cr.construccion_numero_ascensores %>
</p>

<p>
  <strong>Construccion otros 1:</strong>
  <%= @in_ru_cr.construccion_otros_1 %>
</p>

<p>
  <strong>Construccion otros 2:</strong>
  <%= @in_ru_cr.construccion_otros_2 %>
</p>

<p>
  <strong>Oferta actualidad edificadora:</strong>
  <%= @in_ru_cr.oferta_actualidad_edificadora %>
</p>

<p>
  <strong>Oferta comportamiento de oferta y demanda:</strong>
  <%= @in_ru_cr.oferta_comportamiento_de_oferta_y_demanda %>
</p>

<p>
  <strong>Oferta tiempo esperado comercializacion:</strong>
  <%= @in_ru_cr.oferta_tiempo_esperado_comercializacion %>
</p>

<p>
  <strong>Ambiental salubridad:</strong>
  <%= @in_ru_cr.ambiental_salubridad %>
</p>

<p>
  <strong>Ambiental arborizacion:</strong>
  <%= @in_ru_cr.ambiental_arborizacion %>
</p>

<p>
  <strong>Ambiental parques:</strong>
  <%= @in_ru_cr.ambiental_parques %>
</p>

<p>
  <strong>Ambiental z verdes:</strong>
  <%= @in_ru_cr.ambiental_z_verdes %>
</p>

<p>
  <strong>Ambiental positivo otro:</strong>
  <%= @in_ru_cr.ambiental_positivo_otro %>
</p>

<p>
  <strong>Ambiental negativo por aire:</strong>
  <%= @in_ru_cr.ambiental_negativo_por_aire %>
</p>

<p>
  <strong>Ambiental negativo basura:</strong>
  <%= @in_ru_cr.ambiental_negativo_basura %>
</p>

<p>
  <strong>Ambiental negativo inseguridad:</strong>
  <%= @in_ru_cr.ambiental_negativo_inseguridad %>
</p>

<p>
  <strong>Ambiental negativo ruido:</strong>
  <%= @in_ru_cr.ambiental_negativo_ruido %>
</p>

<p>
  <strong>Ambiental negativo aguas servidas:</strong>
  <%= @in_ru_cr.ambiental_negativo_aguas_servidas %>
</p>

<p>
  <strong>Ambiental negativo otro:</strong>
  <%= @in_ru_cr.ambiental_negativo_otro %>
</p>


<%= link_to 'Edit', edit_in_ru_cr_path(@in_ru_cr) %> |
<%= link_to 'Back', in_ru_crs_path %>
