<h1>Estadisticas</h1>
<div class="x_panel">
  <div class="x_content">
    <%= form_tag statistics_path, method: :post, remote: true, class:"form-horizontal form-label-left" do %>
      <div class="form-group">
        <label class="control-label col-md-5 col-sm-5 col-xs-12" for="statistics">Tipo de grafico</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <%= select_tag(:tipo_grafico, options_for_select( ["Torta","Barras"],"Torta"), {:include_blank => false, :class=>"form-control"} )%>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-5 col-sm-5 col-xs-12" for="statistics">Tipo de avaluos</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <%= select_tag(:avaluo_type, options_for_select( ["Todos"] + Avaluo.avaluo_types.keys,"Todos"), {:include_blank => false, :class=>"form-control"} )%>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-5 col-sm-5 col-xs-12" for="statistics">Estado</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <%= select_tag(:estado, options_for_select( ["Estado avaluo","Estado revison"] ,"Estado avaluo"), {:include_blank => false, :class=>"form-control"} )%>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
          <%= submit_tag("Enviar", {:class=>"btn btn-success"} )%>
        </div>
      </div>
    <% end %>

    <div class="ln_solid"></div>

    <div id="results"></div>
  </div>
</div>
