<h1>Aqui se van a mostrar las peticiones del usario, igulamente puede ser consultadas por el usuario</h1>

<h1>current_user.role</h1>
<%= link_to t("admins.log_out"), destroy_user_session_path , method: :delete %>



<h2>Avaluos</h2>
<% @avaluos.each do |a| %>
  <%= a.client.name %>
  <%= a.avaluo_type %>
  <%= a.estado_avaluo %>

  <% if !current_user.Perito? %>
    <%= a.estado_revison %>
  <% end %>
  <%= a.inmueble_tipo %>
  <%= link_to a.serial, edit_avaluo_path(a) %>
  <%if current_admin %>
    <%= link_to a.serial, create_pdf_admins_path(format: "pdf") %>
    <%= a.fecha_avaluo %>
  <% end %>
  <br>
<% end %>
