<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre solicitante:</strong>
  <%= @avaluo.nombre_solicitante %>
</p>

<p>
  <strong>Tipo de identificacion:</strong>
  <%= @avaluo.tipo_de_identificacion %>
</p>

<p>
  <strong>Numero de identificacion:</strong>
  <%= @avaluo.numero_de_identificacion %>
</p>

<p>
  <strong>Client:</strong>
  <%= @avaluo.client %>
</p>

<p>
  <strong>Objeto avaluo:</strong>
  <%= @avaluo.objeto_avaluo %>
</p>

<p>
  <strong>Fecha avaluo:</strong>
  <%= @avaluo.fecha_avaluo %>
</p>

<p>
  <strong>Fecha correcion:</strong>
  <%= @avaluo.fecha_correcion %>
</p>

<p>
  <strong>Metodologia valutoria:</strong>
  <%= @avaluo.metodologia_valutoria %>
</p>

<p>
  <strong>Estado avaluo:</strong>
  <%= @avaluo.estado_avaluo %>
</p>

<p>
  <strong>Estado revison:</strong>
  <%= @avaluo.estado_revison %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @avaluo.barrio %>
</p>

<p>
  <strong>Nombre conjunto o edificio:</strong>
  <%= @avaluo.nombre_conjunto_o_edificio %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @avaluo.departamento %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @avaluo.ciudad %>
</p>

<p>
  <strong>Sistemas de coordenadas:</strong>
  <%= @avaluo.sistemas_de_coordenadas %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @avaluo.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @avaluo.longitud %>
</p>

<p>
  <strong>Sistemas de coordenadas otra:</strong>
  <%= @avaluo.sistemas_de_coordenadas_otra %>
</p>

<p>
  <strong>Direccion inmueble:</strong>
  <%= @avaluo.direccion_inmueble %>
</p>

<p>
  <strong>Justificacion metodologia:</strong>
  <%= @avaluo.justificacion_metodologia %>
</p>

<p>
  <strong>Avaluo type:</strong>
  <%= @avaluo.avaluo_type %>
</p>

<p>
  <strong>Inmueble tipo:</strong>
  <%= @avaluo.inmueble_tipo %>
</p>

<p>
  <strong>Inmueble uso:</strong>
  <%= @avaluo.inmueble_uso %>
</p>

<p>
  <strong>Inmueble uso otro:</strong>
  <%= @avaluo.inmueble_uso_otro %>
</p>

<p>
  <strong>Inmueble clase:</strong>
  <%= @avaluo.inmueble_clase %>
</p>

<p>
  <strong>Inmueble clase otro:</strong>
  <%= @avaluo.inmueble_clase_otro %>
</p>

<p>
  <strong>Inmueble tipo vivienda:</strong>
  <%= @avaluo.inmueble_tipo_vivienda %>
</p>

<p>
  <strong>M inmob principal 1:</strong>
  <%= @avaluo.m_inmob_principal_1 %>
</p>

<p>
  <strong>M inmob principal 2:</strong>
  <%= @avaluo.m_inmob_principal_2 %>
</p>

<p>
  <strong>M inmob gj 1:</strong>
  <%= @avaluo.m_inmob_gj_1 %>
</p>

<p>
  <strong>M inmob gj 2:</strong>
  <%= @avaluo.m_inmob_gj_2 %>
</p>

<p>
  <strong>M inmob gj 3:</strong>
  <%= @avaluo.m_inmob_gj_3 %>
</p>

<p>
  <strong>M inmob gj 4:</strong>
  <%= @avaluo.m_inmob_gj_4 %>
</p>

<p>
  <strong>M inmob gj 5:</strong>
  <%= @avaluo.m_inmob_gj_5 %>
</p>

<p>
  <strong>M inmob dp 1:</strong>
  <%= @avaluo.m_inmob_dp_1 %>
</p>

<p>
  <strong>M inmobiliaria dp 2:</strong>
  <%= @avaluo.m_inmobiliaria_dp_2 %>
</p>

<p>
  <strong>Chip:</strong>
  <%= @avaluo.chip %>
</p>

<p>
  <strong>Inmueble ubicacion:</strong>
  <%= @avaluo.inmueble_ubicacion %>
</p>

<p>
  <strong>Inmueble num escritura:</strong>
  <%= @avaluo.inmueble_num_escritura %>
</p>

<p>
  <strong>Inmueble num notaria:</strong>
  <%= @avaluo.inmueble_num_notaria %>
</p>

<p>
  <strong>Inmueble fecha escritura:</strong>
  <%= @avaluo.inmueble_fecha_escritura %>
</p>

<p>
  <strong>Inmueble depto:</strong>
  <%= @avaluo.inmueble_depto %>
</p>

<p>
  <strong>Inmueble ciudad:</strong>
  <%= @avaluo.inmueble_ciudad %>
</p>

<p>
  <strong>Observaciones observaciones:</strong>
  <%= @avaluo.observaciones_observaciones %>
</p>

<%= link_to 'Edit', edit_avaluo_path(@avaluo) %> |
<%= link_to 'Back', requests_path %>
